{deps,
 [
   {meck, ".*", {git, "git://github.com/eproxus/meck"}},
  {restc,  ".*", {git, "https://github.com/kivra/restclient.git","master"}}
 ]}.

{erl_opts, [{src_dirs, [src]},
           {parse_transform}]}.


{escript_incl_apps, [erlsom, jsx, restc, mochiweb_util, rest_c]}.

%% Uncomment to use the Java client bench driver
%% {escript_emu_args, "%%! -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE\n"}.
{eunit_opts, [verbose]}.
